<li>
  <p>
    <%= comment.content%>
    <br />
    <small><%= comment.user.name%></small>
    <br />
    <% if(locals.user && locals.user.id == comment.user.id){ %>

    <small
      ><a href="/comments/destroy/<%= comment.id %>">Delete Comment</a></small
    >
    <% } %>
  </p>
</li>
