<footer>
  <div id="footer-div-1">
    <a><p>Coding Ninjas. All Rights Reserverd</p></a>
  </div>

  <div id="footer-div-2">
    <div footer-div2-1>
      <a><p>Home</p></a>
    </div>
    <div footer-div2-2>
      <a><p>Profile</p></a>
    </div>
  </div>
</footer>
